<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="Profile">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Projects">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Projects</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Skills">
      <ion-icon name="send"></ion-icon>
      <ion-label>Skills</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="SearchMembers">
      <ion-icon name="send"></ion-icon>
      <ion-label>Search Members</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>