<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Profile">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Projects">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Tab Two</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Skills">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="SearchMembers">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Tab Four</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
