<ion-header>
    <ion-toolbar>
        <ion-icon routerLink="/tabs/skills/add-skills" size="large" slot="end" name="add-circle" slot="end" color="other">
        </ion-icon>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false" color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title (click)="ngOnInit()">Skills</ion-title>
    </ion-toolbar>
    <!-- <ion-searchbar color="stable"></ion-searchbar> -->
</ion-header>

<ion-content padding class="background">

    <ion-list>
        <div>
            <div id="accordion">
                <ion-list class="background" *ngFor="let skil of skills; index as i">

                    <ion-item lines="none" class="grey1">
                        <ion-label data-toggle="collapse" attr.data-target="#collapse{{ i }}" aria-expanded="false"
                            aria-controls="collapseOne">{{ skil.name }}</ion-label>
                        <ion-note class="grey" slot="end" color="primary">{{ skil.level }}</ion-note>
                    </ion-item>


                    <a class="btn btn-link" data-toggle="collapse" attr.data-target="#collapse{{ i }}"
                        aria-expanded="false" aria-controls="collapseOne">
                    </a>

                    <div id="collapse{{ i }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
                        *ngIf="skil">
                        <div class="card-body">
                            <div class="info">
                                <span style="color:rgba(126, 126, 126)">Origin </span> {{ skil.origin }}
                            </div>
                            <div class="info">
                                <span style="color:rgba(126, 126, 126)">Skill level </span> {{ skil.level }}
                            </div>
                            <div class="info">
                                <span style="color:rgba(126, 126, 126)">Last used </span> {{ skil.lastUsed | date }}
                            </div>
                            <br />
                            <div class="info">
                                <span style="color:rgba(126, 126, 126)">Months of active experience
                                </span> {{ skil.activeExperience }}
                            </div>
                            <div class="info">
                                <span style="color:rgba(126, 126, 126)">Developing skill further?
                                </span> {{ skil.active}}
                            </div>
                        </div>
                        <ion-item lines="none">
                            <ion-icon name="md-create" size="large" color="dark"
                                [routerLink]="['update-skills', skil.id]" slot="end">
                            </ion-icon>
                            <ion-icon name="trash" size="large" (click)="presentAlertConfirmDelete(skil.id)"
                                color="dark" slot="end"></ion-icon>
                        </ion-item>

                    </div>
                </ion-list>
            </div>
        </div>
    </ion-list>

</ion-content>