<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons>
      <ion-icon (click)="presentAlertBack()" slot="start" name="arrow-round-back" size="large">
      </ion-icon>
    </ion-buttons> -->
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background">

  <ion-item lines="none">
    <ion-thumbnail [routerLink]="['/upload-picture']" class="IncreaseHeight" slot="start">
      <ion-avatar class="item item-avatar">
        <img src="{{ avatar }}" (click)="updateProfilePicture()">
      </ion-avatar>
    </ion-thumbnail>
    <input #fileBtn name="image" hidden="true" #image class="filebtn" />


    <ion-label *ngIf="Public" class="nickname">
      <ion-label class="FontSize1">Nickname & Surname</ion-label>
      <ion-input class="ReduceHeight" placeholder=" ">{{Public.nickname}} {{Public.surname}}
      </ion-input>
    </ion-label>

  </ion-item>



  <ion-list>
    <div [hidden]="submitted" padding>
      <form #heroForm="ngForm">

        <div class="form-group">

          <ion-label class="FontSize" for="name" position="floating">First name(s)</ion-label>
          <ion-input type="text" class="form-control" id="name" required [(ngModel)]="formValue.name" name="name"
            #name="ngModel">
          </ion-input>
          <div [hidden]="name.valid || name.pristine" class="alert-danger">
            First name(s) is required
          </div>
        </div>


        <div class="form-group">

          <ion-label class="FontSize" position="floating" for="surname">Surname</ion-label>
          <ion-input type="text" class="form-control" id="surname" required [(ngModel)]="formValue.surname"
            name="surname" #surname="ngModel"></ion-input>

          <div [hidden]="surname.valid || surname.pristine" class="alert-danger">

            Surname is required

          </div>
        </div>

        <div class="form-group">

          <ion-label class="FontSize" position="floating" for="careerLevel">Career level</ion-label>
          <ion-input disabled class="form-control" id="careerLevel" required [(ngModel)]="formValue.careerLevel"
            name="careerLevel" #careerLevel="ngModel"></ion-input>

          <div [hidden]="careerLevel.valid || careerLevel.pristine" class="alert-danger">

            Career level is required

          </div>
        </div>

        <div class="form-group">

          <ion-label class="FontSize" position="floating" for="phoneNumber">Mobile number</ion-label>
          <ion-input type="text" class="form-control" id="mobile" required [(ngModel)]="formValue.phoneNumber"
            name="phoneNumber" #phoneNumber="ngModel"></ion-input>

          <div [hidden]="phoneNumber.valid || phoneNumber.pristine" class="alert-danger">

            Mobile number is required

          </div>
        </div>

        <div class="form-group">

          <ion-label class="FontSize" position="floating" for="nickname">Nickname</ion-label>
          <ion-input type="text" class="form-control" id="nickname" required [(ngModel)]="formValue.nickname"
            name="nickname" #nickname="ngModel"></ion-input>

          <div [hidden]="nickname.valid || nickname.pristine" class="alert-danger">

            Nickname is required

          </div>
        </div>

        <div class="form-group">

          <ion-label class="FontSize" position="floating" for="birthDate">Date of birth</ion-label>
          <ion-input type="text" class="form-control" id="txtDOB" required [(ngModel)]="formValue.birthDate"
            name="birthDate" #birthDate="ngModel"></ion-input>

          <div [hidden]="birthDate.valid || birthDate.pristine" class="alert-danger">

            Birth date is required

          </div>
        </div>

        <ion-item slot="end" lines="none">
          <ion-button style="text-transform: none;" slot="end" id="buttonColor" shape="square" slot="end" size="medium"
            (click)="updateDetails(heroForm)" [disabled]="!heroForm.valid">
            Update
          </ion-button>
        </ion-item>
      </form>

    </div>
  </ion-list>

</ion-content>